@model  MyOnlineClinic.Web.Models.ChangePasswordViewModel

<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm("ChangePassword",Model.ControllerName, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="default-title">Change Password</h2>
                </div>
                <div class="col-sm-5 text-right">
                    <button type="submit" id="btnApproveUsers" class="btn btn-primary btn-sm">Change Password</button>
                </div>
            </div>
            @Html.AntiForgeryToken()
            <hr />
            @ViewBag.SuccessMsg
            <div class="form-group">
                <label class="col-md-3 control-label">Password</label>
                <div class="col-md-9">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password)

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Confirm Password</label>
                <div class="col-md-9">
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
            </div>
        }
    </div>
</div>
