@model List<MyOnlineClinic.Web.Models.ClinicModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Organizations/Views/Shared/_OrganizationLayout.cshtml";
}
@using MyOnlineClinic.Entity;
@using MyOnlineClinic.Web.Helper;
@using MyOnlineClinic.Web.Models;
@{
    var usermodel = ViewBag.LoginUserModel as LoginUserViewModel;
}
<section class="content-header" style="margin-top:35PX;">
    <h1 class="underline22">
        Clinic List
    </h1>
    <ol class="breadcrumb">
        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Add Clinics", (int)ModuleNames.ManageClinics, usermodel.LoginId))
        {
            <li style="margin-right: -10px !important;">  <button type="button" id="btnNew" class="btn btn-success new">Create a Clinic</button></li>

        }
        @*<li style="margin-right: -10px !important;">
                <button type="button" id="btnAddNewUsers" class="btn btn-success new">Add Clinic User</button>
            </li>*@

        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Active/Inactive Clinics", (int)ModuleNames.ManageClinics, usermodel.LoginId))
        {
            <li style="margin-right: -10px !important;">
                <button type="button" id="btnActivate" class="btn btn-success new">
                    Active
                </button>
            </li>
            <li style="margin-right: -10px !important;">
                <button type="button" id="btnDelete" class="btn btn-success new">
                    InActive
                </button>
            </li>
        }
        <li style="margin-right: -10px !important;">       <button type="button" id="btnBack" class="btn btn-success new">Back</button></li>
    </ol>
</section>

<div class="row">
    @{MyOnlineClinic.Web.Models.SearchParametersViewModel objSearchModel = new MyOnlineClinic.Web.Models.SearchParametersViewModel();
    objSearchModel.ActionName = "Index";
    objSearchModel.ControllerName = "Clinic";
    objSearchModel.AreaName = "Organizations";
    //objSearchModel.ShowOrganizationName = true;
    objSearchModel.ShowClinicName = true;
    objSearchModel.ShowActiveStatus = true;
    objSearchModel.ShowClinicadmin = true;
    objSearchModel.ShowCountry = true;
    objSearchModel.ShowState = true;
    objSearchModel.ShowOrgType = false;
    objSearchModel.PageTitle = "Clinics";
    objSearchModel.ShowPostCode = true;
    }
    @{Html.RenderPartial("_SearchPartial", objSearchModel);}
</div>
<div class="row">
    <div class="col-md-12 seven_layer">
        <div class="table-responsive data">
            <table id="mytable" class="table table-hover table-bordered">
                <thead style="color:#fff;">
                    <tr>
                        <th class="top">Nr</th>
                        <th class="top">Name</th>
                        @*<th>Type</th>*@
                        <th class="top">Phone</th>
                        <th class="top">Address</th>
                        <th class="top">Status</th>
                        <th>
                            <input type="checkbox" id="selecctall">
                            Action
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in Model)
                    {
                        <tr class="info">
                            <td>@count</td>
                            @*<td style="text-align: center;"><img class="img-circle img-responsive" style="width:40px; height:40px;margin:0px auto;" src="@item.ClinicLogo" /></td>*@

                            <td style="vertical-align:middle; text-transform: capitalize;">@item.CliniAdminName</td>
                            <td style="vertical-align:middle; text-transform: capitalize;">@item.ClinicName</td>
                            <td style="vertical-align:middle;">@item.TimeZoneDisplayName <br /> @item.LastUpdateDateInString</td>

                            <td style="vertical-align:middle;">
                                <div class="btn-group btn-toggle">
                                    @if (item.IsActive)
                                    {
                                        <button class="btn btn-xs btn-primary" id="on">ON</button>
                                        <button class="btn btn-xs btn-default ">OFF</button>

                                    }
                                    else
                                    {
                                        <button class="btn btn-xs btn-default">ON</button>
                                        <button class="btn btn-xs btn-danger" id="off">OFF</button>
                                    }
                                </div>

                            </td>

                            <td>
                                <ul class="list-inline" style="position: relative; top: 10px; margin-left: 2px;">

                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Active/Inactive Clinics", (int)ModuleNames.ManageClinics, usermodel.LoginId))
                                    {
                                        <li>  <input type="checkbox" class="checkthis" name="UserApproval" style=" width: 22px; height: 22px; box-shadow: none !important;" data-role=@item.IsActive value=@item.ClinicId></li>
                                    }
                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Edit Clinics", (int)ModuleNames.ManageClinics, usermodel.LoginId))
                                    {
                                        <li> <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Edit"><a href="/organizations/Clinics/add/@item.ClinicId"><button class="btn btn-primary btn-xs edit"><span class="glyphicon glyphicon-pencil"></span></button></a></p></li>
                                    }
                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Clinic Details", (int)ModuleNames.ManageClinics, usermodel.LoginId))
                                    {
                                        <li> <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Details"><a href="/admin/Clinic/Details/@item.ClinicId"><button class="btn btn-primary btn-xs edit"><span class="glyphicon glyphicon-info-sign"></span></button></a></p></li>
                                    }
                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Clinic Staff", (int)ModuleNames.ManageClinics, usermodel.LoginId))
                                    {
                                        @*<li> <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Clinic Staff List"><a href="/Organizations/ClinicUsers/Index/@item.ClinicId"><button class="btn btn-primary btn-xs edit"><span class="glyphicon glyphicon-user"></span></button></a></p></li>*@
                                    }
                                </ul>

                            </td>
                        </tr>
                                    count = count + 1;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@using (Html.BeginForm("Delete", "Clinics", FormMethod.Post, new { @area = "Organizations" }))
{
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        <label id="lblTitle">Delete Organization Users</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="CreateEditForm">
                        <label>Are you sure to delete the Organization Users</label>
                        <input type="text" name="serviceIds" id="serviceIds" style="display: none" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

@using (Html.BeginForm("Acitvate", "Clinics", FormMethod.Post, new { @area = "Organizations" }))
{
    <div class="modal fade" id="ActivateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        <label id="lblTitle">Activate Organization Users </label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="CreateEditForm">
                        <label>Are you sure to activate the Organization Users</label>
                        <input type="text" name="ActivateIds" id="ActivateIds" style="display: none" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<script src="~/AdminAssets/js/datatables/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        var oTable = $('#example').dataTable({
            "bProcessing": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "sPaginationType": "full_numbers"
        });
        $('[data-toggle="tooltip"]').tooltip();
        $("#btnNew").click(function () {
            window.location.href = "/organizations/Clinics/add";
        });

        DisableButton();
        var favorite = [];
        $("#selecctall").click(function (event) {  //on click
            if (this.checked) {
                $("input[name='UserApproval']").each(function () { //loop through each checkbox
                    if (this.checked !== true) {
                        this.checked = true;  //select all checkboxes with class "checkbox1"
                        favorite.push($(this).val());
                    }
                });
            } else {
                $("input[name='UserApproval']").each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                    favorite.pop($(this).val());
                });
            }
            $("#serviceIds").val(favorite);
            $("#ActivateIds").val(favorite);
            DisableButton();

        });

         $(document).on('click', "input[name='UserApproval']", function (event) {
            if (this.checked == true) {
                favorite.push($(this).val());
            }
            else {
                favorite.pop();
            }
            $("#serviceIds").val(favorite);
            $("#ActivateIds").val(favorite);
            DisableButton();
        });

        $("#btnDelete").click(function () {
            var options = {
                "backdrop": "static"
            };
            $('#basicModal').modal(options);
        });

        $("#btnActivate").click(function () {
            var options = {
                "backdrop": "static"
            };
            $('#ActivateModal').modal(options);
        });
        $("#btnBack").on("click", function () {
            window.history.back();
        });
    });

    function DisableButton() {
        if ($("#serviceIds").val() == '') {
            $("#btnDelete").attr('disabled', 'disabled');
        }
        else {
            $("#btnDelete").removeAttr('disabled', 'disabled');
        }
        if ($("#ActivateIds").val() == '') {
            $("#btnActivate").attr('disabled', 'disabled');
        }
        else {
            $("#btnActivate").removeAttr('disabled', 'disabled');
        }
    }


</script>

