@model MyOnlineClinic.Web.Models.CreditCardViewModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Pay with credit card/voucher</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm("PayWithCreditCard", "BookAppointment", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.HiddenFor(m => m.AppointmentId, new { @value = ViewBag.AppointmentId })
                            @Html.HiddenFor(m => m.PatientId, new { @value = ViewBag.PatientId })
                            @Html.HiddenFor(m => m.DoctorLoginId, new { @value = ViewBag.DoctorId })
                            @Html.HiddenFor(m => m.AppointmentType, new { @value = ViewBag.ConsultType })
                            @Html.HiddenFor(m => m.ConsultType, new { @value = ViewBag.ConsultType })
                             
                            <div class="item form-group" id="dvPaidBy">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Pay By: <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="ddlPaidBy" name="ddlPaidBy" class="form-control col-md-7 col-xs-12 text_row">
                                        <option value="">---Select---</option>
                                        <option value="1">Voucher</option>
                                        <option value="2">Credit Card</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group" id="dvPayWithVoucher" style="display:none;">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Voucher Number: <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(x => x.VoucherNumber, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessage("Voucher")
                                </div>
                            </div>
                            <div class="item form-group" id="dvPayWithCreditCard" style="display:none;">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                        Card Holder Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(x => x.first_name, new { @class = "form-control col-md-7 col-xs-12", required = "required" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                        Card Number <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(x => x.number, new { @class = "form-control col-md-7 col-xs-12", onkeypress = "return isNumber(event)", required = "required" })
                                        @Html.ValidationMessage("Invalid")
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                        Expiry Month <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(x => x.expire_month, new { @class = "form-control col-md-7 col-xs-12", required = "required" })
                                        @*<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="both name(s) e.g Jon Doe" required="required" type="text">*@
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                        Expiry Year <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(x => x.expire_year, new { @class = "form-control col-md-7 col-xs-12", required = "required" })
                                        @*<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="both name(s) e.g Jon Doe" required="required" type="text">*@
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                        CVV <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(x => x.cvv2, new { @class = "form-control col-md-7 col-xs-12", required = "required" })
                                        @*<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="both name(s) e.g Jon Doe" required="required" type="text">*@
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="button" id="btnCancel" class="btn btn-primary">Cancel</button>
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.creditCardValidator.js"></script>
@*<script src="/AdminAssets/js/validator/validator.js"></script>*@

<script>
    $(document).ready(function () {
        $('.date-picker').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4"
        }, function (start, end, label) {

        });
        
        //To do validate card with jquery validations.
        window.validateCard = false;
        $('#number').validateCreditCard(function (result) {

            var cardType = $("#cardType");
            cardType.html('');

            var numberError = $("#number-error");
            numberError.html('');

            if (result.length_valid == true) {
                if (result.valid) {
                    validateCard = true;
                }
                cardType.append("<div class='alert alert-success'>Card Type is :- " + result.card_type.name + "</div>");
            }
            else {
                numberError.append("<div class='alert alert-danger' style='color:red;'>Please enter valid credit card details</div>");
            }
        });

        $('#ddlPaidBy').change(function () {
            var paidBy = $(this).val();

            var dvPayWithVoucher = $('#dvPayWithVoucher');
            var dvPayWithCreditCard = $('#dvPayWithCreditCard');

            dvPayWithVoucher.hide();
            dvPayWithCreditCard.hide();

            if (paidBy != '') {
                if (paidBy == '1') {
                    dvPayWithVoucher.show();
                }
                else {
                    dvPayWithCreditCard.show();
                }
            }

        })

    });
    // initialize the validator function
    validator.message['date'] = 'not a real date';

    // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
    $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

    $('.multi.required')
        .on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

    // bind the validation to the form submit event
    //$('#send').click('submit');//.prop('disabled', true);

    $('form').submit(function (e) {
        e.preventDefault();
        var submit = true;
        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
            submit = false;
        }
        if (!validateCard) {
            $("#number-error").append("<div class='alert alert-danger' style='color:red;'>Please enter valid credit card details</div>");
            return false;
        }

        if (submit)
            this.submit();
        return false;
    });

    / FOR DEMO ONLY /
    $('#vfields').change(function () {
        $('form').toggleClass('mode2');
    }).prop('checked', false);

    $('#alerts').change(function () {
        validator.defaults.alerts = (this.checked) ? false : true;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>



