@model MyOnlineClinic.Web.Models.DoctorAvailabilityModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Clinic/Views/Shared/_ClinicLayout.cshtml";
}
<style>
    .sorting, .sorting_asc, .sorting_desc {
        background: none;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <div class="row" style="margin-top:20px; margin-bottom:20px;">
                    <div class="col-md-2">
                        <img src=@Model.ProfilePic height="100" width="100" class="img-circle" />
                    </div>
                    <div class="col-md-4" style="margin-top: 10px; color: black; margin-left: 30px;">
                        <b> @Model.FullName</b><br />
                        <b> @Model.OrgName</b>
                    </div>
                </div>
            </div>
            @*<div class="title_right pull-right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="row">
                        <div class="col-sm-7">
                            <h2 class="default-title">Doctor Availability</h2>
                        </div>
                        <div class="col-sm-5 text-right">
                            <button type="button" id="btnNew" class="btn btn-primary btn-sm">New</button>
                            @*<button type="button" id="btnDelete" class="btn btn-primary btn-sm">
                                    Approve
                                </button>
                                <button type="button" id="btnActivate" class="btn btn-primary btn-sm">
                                    Active
                                </button>*@
                            @*<button type="button" id="btnBack" class="btn btn-primary btn-sm">Back</button>*@
                        </div>
                    </div>
                    <div class="x_content">
                        <input type="hidden" name="DoctorId" id="DoctorId" value="@ViewBag.DoctorId" />
                        @if (Model.Type1 != null)
                        {
                            <div class="col-sm-7">
                                <h2 class="default-title">Video Consult</h2>
                            </div>
                            if (Model.Type1.Count > 0)
                            {
                                <table id="example" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Form Date</th>
                                            <th>To Date</th>
                                            <th>Timezone</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.Type1)
                                    {
                                        <tbody>
                                            <tr>
                                                <td><span id="span_@item.AvailabilityId" onclick='showdetail( @item.AvailabilityId);' class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
                                                <td>@Convert.ToDateTime(item.FromDateLocal).ToString("dd MMM yyyy")</td>
                                                <td>@Convert.ToDateTime(item.ToDateLocal).ToString("dd MMM yyyy")</td>
                                                <td>@item.TimeZone</td>
                                                <td class="table-icons" style="width:110px!important; text-align: center;padding:15px 0px;">
                                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Remove"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody id="HTMLt_@item.AvailabilityId"></tbody>

                                    }
                                </table>
                            }
                            else
                            {
                                <div style="text-align: center; float: left; clear: both; width: 99%; border: solid 1px; margin: 4px; padding: 5px;">
                                    Still Video Consult Availability is not Added.
                                </div>
                            }
                        }
                        @if (Model.Type2 != null)
                        {
                            <div class="col-sm-7">
                                <h2 class="default-title">Clinic Visit</h2>
                            </div>
                            if (Model.Type2.Count > 0)
                            {
                                <table id="example1" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Form Date</th>
                                            <th>To Date</th>
                                            <th>Timezone</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.Type2)
                                    {
                                        <tbody>
                                            <tr>
                                                <td><span id="span_@item.AvailabilityId" onclick='showdetail( @item.AvailabilityId);' class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
                                                <td>@Convert.ToDateTime(item.FromDateLocal).ToString("dd MMM yyyy")</td>
                                                <td>@Convert.ToDateTime(item.ToDateLocal).ToString("dd MMM yyyy")</td>
                                                <td>@item.TimeZone</td>
                                                <td class="table-icons" style="width:110px!important; text-align: center;padding:15px 0px;">
                                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Remove"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody id="HTMLt_@item.AvailabilityId"></tbody>
                                    }

                                </table>
                            }
                            else
                            {
                                <div style="text-align: center; float: left; clear: both; width: 99%; border: solid 1px; margin: 4px; padding: 5px;">
                                    Still Clinic Visit Availability is not Added.
                                </div>
                            }
                        }
                        @if (Model.Type3 != null)
                        {
                            <div class="col-sm-7">
                                <h2 class="default-title">Home Visit</h2>
                            </div>
                            if (Model.Type3.Count > 0)
                            {
                                <table id="example2" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Form Date</th>
                                            <th>To Date</th>
                                            <th>Actions</th>
                                            @*<th>Timezone</th>*@
                                        </tr>
                                    </thead>

                                    @foreach (var item in Model.Type3)
                                    {
                                        <tbody>
                                            <tr>
                                                <td><span id="span_@item.AvailabilityId" onclick='showdetail( @item.AvailabilityId);' class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
                                                <td>@Convert.ToDateTime(item.FromDateLocal).ToString("dd MMM yyyy")</td>
                                                <td>@Convert.ToDateTime(item.ToDateLocal).ToString("dd MMM yyyy")</td>
                                                <td class="table-icons" style="width:110px!important; text-align: center;padding:15px 0px;">
                                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Remove"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                </td>
                                                @*<td>@item.TimeZone</td>*@
                                            </tr>
                                        </tbody>
                                     <tbody id="HTMLt_@item.AvailabilityId"></tbody>
                                    }
                                </table>
                            }
                            else
                            {
                                <div style="text-align: center; float: left; clear: both; width: 99%; border: solid 1px; margin: 4px; padding: 5px;">
                                    Still Clinic Visit Availability is not Added.
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<div class="modal fade" id="ViewAvailability" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <label id="lblTitle">Availabilities</label>
                </h4>
            </div>
            <div class="modal-body">
                <div id="CreateEditForm">
                    <input type="hidden" id="hidavid" />
                    arbsahnb
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.mod-al-dialog -->
</div>

<script src="~/AdminAssets/js/datatables/js/jquery.dataTables.js"></script>
<script>
    function showdetail(id)
    {
        var str = document.getElementById('HTMLt_'+id).innerHTML;
        $.ajax({
            type: 'GET',
            url: '/Admin/DoctorAvailability/GetAvailabilityByAvailabilityId',
            dataType: 'json',
            data: { id: id},
            success: function (data) {
                str+="<tbody><tr><td colspan='5'><table id='example3' class='table table-striped responsive-utilities jambo_table'>";
                $.each(data, function (key, value) {
                    for(var i=0;i<value.length;i++)
                    {
                        //alert(value[i].Startdate);
                        str += "<tr><td>"+value[i].Startdate+"</td><td>"+value[i].Time+"</td><td>"+value[i].TimeZone+"</td></tr>";
                    }
                });
                str+="</table></td></tr></tbody>";
                document.getElementById('HTMLt_'+id).innerHTML = str;
                var spanid=$("#span_"+id);
                spanid.attr('class','glyphicon glyphicon-minus');
                spanid.attr('onclick','hidedetail('+id+')');

            },
            error: function (ex) {
                alert("error");
            }
        });
    }
    function hidedetail(id)
    {
        document.getElementById('HTMLt_'+id).innerHTML="";
        //$("#HTMLt_"+id).slideToggle();
        var spanid=$("#span_"+id);
        spanid.attr('class','glyphicon glyphicon-plus');
        spanid.attr('onclick','showdetail('+id+')');
    }

    $(".btnViewAvailability").click(function () {
        var hidavid = document.getElementById('hidavid');
        hidavid.value = $(this).attr('data-role');
        var options = {
            "backdrop": "static"
        };
        $('#ViewAvailability').modal(options);
    });

    $("#btnNew").click(function () {
        var hdndoctorid = document.getElementById("DoctorId");
        window.location.href = "/Clinic/DoctorAvailability/AddAvailability/" + hdndoctorid.value;
    });

    $(document).ready(function () {
        var oTable = $('#example').dataTable({
            "bProcessing": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "sPaginationType": "full_numbers"
        });
        var oTable = $('#example1').dataTable({
            "bProcessing": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "sPaginationType": "full_numbers"
        });
        var oTable = $('#example2').dataTable({
            "bProcessing": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "sPaginationType": "full_numbers"
        });
        var oTable = $('#example3').dataTable({
            "bProcessing": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "sPaginationType": "full_numbers"
        });
        $('[data-toggle="tooltip"]').tooltip();

        $("#btnBack").on("click", function () {
            window.history.back();
        });
    });
</script>

