@model List<MyOnlineClinic.Web.Models.ClinicUserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Clinic/Views/Shared/_ClinicLayout.cshtml";
}
@using MyOnlineClinic.Entity;
@using MyOnlineClinic.Web.Helper;
@using MyOnlineClinic.Web.Models;
@{
    var usermodel = ViewBag.LoginUserModel as LoginUserViewModel;
}
<section class="content-header" style="margin-top:45px;">
    <h1 class="underline">
        Clinic Staff List
    </h1>
    <ol class="breadcrumb">
        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Add Clinic Staff", (int)ModuleNames.ManageClinics, usermodel.LoginId))
        {
            <li style="margin-right: -10px !important;"><button type="button" class="btn btn-success new" id="btnNew">Add New Staff</button></li>
        }
        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Active/Inactive Clinic Staff", (int)ModuleNames.ManageClinics, usermodel.LoginId))
        {
            <li style="margin-right: -10px !important;"><button type="button" class="btn btn-success new" id="btnActivate">Active</button></li>
            <li style="margin-right:-10px !important;"><button type="button" class="btn btn-success new" id="btnDelete">Inactive</button></li>
        }
        <li style="margin-right: 5px !important;"><button type="button" class="btn btn-success new" id="btnBack">Back</button></li>
    </ol>
</section>
<div class="container-fulid">
    <div class="row">
        <div class="col-md-12 eight_layer">
            <div class="table-responsive data">
                <table id="mytable" class="table table-hover table-bordered">
                    <thead style="color:#fff;">
                        <tr>
                            <th class="top">Profile Pic</th>
                            <th class="top">Name</th>
                            <th class="top">Role</th>
                            <th class="top">Email</th>
                            <th class="top">Organisation</th>
                            <th class="top">Phone No.</th>
                            <th class="top">Last Updated</th>
                            <th class="top">Status</th>
                            <th class="top"><input type="checkbox" id="checkall" /><span style="margin-left:3px;">Action</span></th>
                            @*<th>Photo</th>
                                <th>Role</th>
                                <th>Statff Name</th>
                                <th>Email</th>
                                <th>Organization</th>
                                <th>Clinic</th>
                                <th>Last Update</th>
                                <th>Appoved</th>
                                <th>
                                    <input type="checkbox" id="selecctall">
                                    Actions
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="info">
                                <td><img src="@item.ProfilePic" class="img-circle img-responsive" /></td>
                                <td>@item.FirstName</td>
                                <td>@item.RoleName</td>

                                <td>@item.Email</td>
                                <td>@item.OrganizationName</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.TimeZoneDisplayName <br />@item.LastUpdateDateInString</td>
                                <td>
                                    <div class="btn-group btn-toggle">
                                        @if (item.IsApproved)
                                        {
                                            <button class="btn btn-xs btn-primary" id="on">ON</button>
                                            <button class="btn btn-xs btn-default ">OFF</button>

                                        }
                                        else
                                        {
                                            <button class="btn btn-xs btn-default">ON</button>
                                            <button class="btn btn-xs btn-danger" id="off">OFF</button>
                                        }
                                    </div>


                                </td>
                                <td>
                                    <ul class="list-inline" style="position:relative;top:10px;">
                                        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Active/Inactive Clinic Staff", (int)ModuleNames.ManageClinics, usermodel.LoginId))
                                        {
                                            <li><input type="checkbox" class="checkthis" value=@item.UserId style="width: 24px; height: 23px; box-shadow: none !important;" /></li>
                                        }
                                        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Edit Clinic Staff", (int)ModuleNames.ManageClinics, usermodel.LoginId))
                                        {
                                            <li><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/Clinic/ClinicUsers/Add/@item.UserId"><button class="btn btn-primary btn-xs edit"><span class="glyphicon glyphicon-pencil"></span></button></a></p></li>
                                        }
                                        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Clinic Staff Details", (int)ModuleNames.ManageClinics, usermodel.LoginId))
                                        {

                                            @*<li><p data-placement="top" data-toggle="tooltip" title="Details"><a href="/admin/Clinic/UserDetails/@item.UserId"><button class="btn btn-info btn-xs edit"><span class="glyphicon glyphicon-info-sign"></span></button></a></p></li>*@
                                        }
                                    </ul>

                                </td>
                            </tr>


                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
@using (Html.BeginForm("Delete", "ClinicUsers", FormMethod.Post))
{
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        <label id="lblTitle">Delete Clinic</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="CreateEditForm">
                        <label>Are you sure to delete the clinic</label>
                        <input type="text" name="serviceIds" id="serviceIds" style="display: none" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

@using (Html.BeginForm("Activate", "ClinicUsers", FormMethod.Post))
{
    <div class="modal fade" id="ActivateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        <label id="lblTitle">Activate Clinic </label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="CreateEditForm">
                        <label>Are you sure to activate the clinic</label>
                        <input type="text" name="ActivateIds" id="ActivateIds" style="display: none" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<script src="~/AdminAssets/js/datatables/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        var oTable = $('#example').dataTable({
            "bProcessing": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "sPaginationType": "full_numbers"
        });
        $('[data-toggle="tooltip"]').tooltip();
        $("#btnNew").click(function () {
            window.location.href = "/Clinic/ClinicUsers/add";
        });

        DisableButton();
        var favorite = [];
        $("#selecctall").click(function (event) {  //on click
            if (this.checked) {
                $("input[name='UserApproval']").each(function () { //loop through each checkbox
                    if (this.checked !== true) {
                        this.checked = true;  //select all checkboxes with class "checkbox1"
                        favorite.push($(this).val());
                    }
                });
            } else {
                $("input[name='UserApproval']").each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                    favorite.pop($(this).val());
                });
            }
            $("#serviceIds").val(favorite);
            $("#ActivateIds").val(favorite);
            DisableButton();

        });

         $(document).on('click', "input[name='UserApproval']", function (event) {
            if (this.checked == true) {
                favorite.push($(this).val());
            }
            else {
                favorite.pop();
            }
            $("#serviceIds").val(favorite);
            $("#ActivateIds").val(favorite);
            DisableButton();
        });

        $("#btnDelete").click(function () {
            var options = {
                "backdrop": "static"
            };
            $('#basicModal').modal(options);
        });

        $("#btnActivate").click(function () {
            var options = {
                "backdrop": "static"
            };
            $('#ActivateModal').modal(options);
        });
        $("#btnBack").on("click", function () {
            window.history.back();
        });
    });

    function DisableButton() {
        if ($("#serviceIds").val() == '') {
            $("#btnDelete").attr('disabled', 'disabled');
        }
        else {
            $("#btnDelete").removeAttr('disabled', 'disabled');
        }
        if ($("#ActivateIds").val() == '') {
            $("#btnActivate").attr('disabled', 'disabled');
        }
        else {
            $("#btnActivate").removeAttr('disabled', 'disabled');
        }
    }
</script>