@model MyOnlineClinic.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "DoctorList";
    Layout = "~/Areas/Organizations/Views/Shared/_OrganizationLayout.cshtml";
}
@using MyOnlineClinic.Entity;
@using MyOnlineClinic.Web.Helper;
@using MyOnlineClinic.Web.Models;
@{
    var usermodel = ViewBag.LoginUserModel as LoginUserViewModel;
}
<style>
    .col-md-4.fifth.layer {
        padding: 11px;
        background: rgb(8, 163, 155);
        box-shadow: 1px 3px 5px #888888;
        border-radius: 7px;
    }
</style>
<section class="content-header" style="margin-top:45PX;">
    <h1 class="underline22">
        Doctors List
    </h1>
    <ol class="breadcrumb">
        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Add Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
        {
            <li style="margin-right: -10px !important;"><button id="btnNew" type="button" class="btn btn-success new">Add New Doctor</button></li>
        }
        @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Active/Inactive Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
        {
            <li style="margin-right: -10px !important;"><button type="button" id="btnActivate" class="btn btn-success new">Active</button></li>
            <li style="margin-right: -10px !important;"><button type="button" id="btnDelete" class="btn btn-success new">Inactive</button></li>
        }
        <li style="margin-right: 5px !important;"><button type="button" id="btnBack" class="btn btn-success new">Back</button></li>
    </ol>
</section>
<div class="row">
    @{MyOnlineClinic.Web.Models.SearchParametersViewModel objSearchModel = new MyOnlineClinic.Web.Models.SearchParametersViewModel();
    objSearchModel.ActionName = "DoctorList";
    objSearchModel.ControllerName = "Doctor";
    objSearchModel.AreaName = "Organizations";
    objSearchModel.ShowClinicName = true;
    objSearchModel.ShowCity = false;
    objSearchModel.ShowOrgadmin = false;
    objSearchModel.ShowClinicadmin = false;
    objSearchModel.ShowCountry = true;
    objSearchModel.ShowState = true;
    objSearchModel.ShowOrgType = false;
    objSearchModel.ShowEmail = true;
    objSearchModel.ShowDoctorName = true;
    objSearchModel.ShowPatientName = false;
    objSearchModel.PageTitle = "Doctor List";
    objSearchModel.ShowPostCode = true;
    objSearchModel.ShowActiveStatus = true;
    }
    @{Html.RenderPartial("_SearchPartial", objSearchModel);}
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="col-md-4 fifth layer">
            <div id="tab" class="btn-group btn-group-justified" data-toggle="buttons-radio" style=" margin-left: -10px;">
                @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Approved Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                {
                    <div class="col-md-3">
                        <a href="#Approved" id="btnapproved" class="btn btn-large btn-success active" data-toggle="tab">Approved Doctors</a>
                    </div>
                }
                @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Recently Registered Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                {
                    <div class="col-md-4" style="margin-left:55px;">
                        <a href="#Recently" class="btn btn-large btn-success" id="btnRecently" data-toggle="tab">Recently Registered Doctors</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="tab-content">

    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Recently Registered Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
    {
        <div class="tab-pane" id="Recently">
            <div class="container-fulid">
                <div class="row">
                    <div class="col-md-12 seven_layer">
                        <div class="table-responsive data">
                            <table id="mytable1" class="table table-hover table-bordered">
                                <thead style="color:#fff;">
                                    <tr>
                                        <th class="top">Profile Pic</th>
                                        <th class="top">Doctor Name</th>
                                        <th class="top"> Organisation Name</th>
                                        <th class="top">Email</th>
                                        <th class="top">Last Updated</th>
                                        <th class="top">Status</th>
                                        <th class="top"><input type="checkbox" id="checkall" /><span style="margin-left:3px;">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{ int count = 1;}
                                    @for (int i = 0; i < Model.RecentlyDoctors.Count; i++)
                                    {
                                        <tr class="info">
                                            <td><img class="img-circle img-responsive" style="width:40px; height:40px;margin:0px auto;" src="@Model.RecentlyDoctors[i].ProfilePic" /></td>
                                            <td class="capitalize_first_letter">@Model.RecentlyDoctors[i].FullName</td>
                                            <td class="capitalize_first_letter">@Model.RecentlyDoctors[i].organizationName</td>
                                            <td>@Model.RecentlyDoctors[i].Email</td>
                                            <td>@Model.RecentlyDoctors[i].TimeZoneDisplayName<br />@Model.RecentlyDoctors[i].LastUpdateDateInString</td>
                                            <td style="vertical-align:middle;">
                                                <div class="btn-group btn-toggle">
                                                    @if (Model.RecentlyDoctors[i].IsActive)
                                                    {
                                                        <button class="btn btn-xs btn-primary" id="on">ON</button>
                                                        <button class="btn btn-xs btn-default ">OFF</button>

                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-xs btn-default">ON</button>
                                                        <button class="btn btn-xs btn-danger" id="off">OFF</button>
                                                    }
                                                </div>
                                            </td>
                                            <td>

                                                <ul class="list-inline" style="position:relative;top:10px;">
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Active/Inactive Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><input type="checkbox" class="checkthis" name="UserApproval" style="width: 24px; height: 23px; box-shadow: none !important;" data-role=@Model.RecentlyDoctors[i].IsActive value=@Model.RecentlyDoctors[i].MemberId /></li>
                                                    }
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Edit Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/Organizations/Doctor/Add/@Model.RecentlyDoctors[i].MemberId"><button class="btn btn-primary btn-xs edit"><span class="glyphicon glyphicon-pencil"></span></button></a></p></li>
                                                    }
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Doctor Details", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><p data-placement="top" data-toggle="tooltip" title="Details"><a href="/Organizations/Doctor/DoctorDetail/@Model.RecentlyDoctors[i].MemberId"><button class="btn btn-info btn-xs edit"><span class="glyphicon glyphicon-info-sign"></span></button></a></p></li>

                                                    }
                                                </ul>

                                                @*<input type="checkbox" class="checkbox1" name="UserApproval" data-role=@Model.RecentlyDoctors[i].IsActive value=@Model.RecentlyDoctors[i].MemberId>
                                                    @if (modelPermission != null)
                                                    {
                                                        foreach (var permission in modelPermission)
                                                        {
                                                            if (permission.ModuleId == 8 && permission.PermissionId == 30)
                                                            {
                                                                <a href="/Admin/Doctor/Add/@Model.RecentlyDoctors[i].MemberId" data-toggle="tooltip" data-placement="left" title="Edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                                            }
                                                            if (permission.ModuleId == 8 && permission.PermissionId == 31)
                                                            {
                                                                <a href="/Admin/Doctor/DoctorDetail/@Model.RecentlyDoctors[i].MemberId" data-toggle="tooltip" data-placement="left" title="Details"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                                                            }
                                                        }
                                                    }*@

                                                @*<a href="/admin/DoctorAvailability/index/@Model.RecentlyDoctors[i].MemberId" data-toggle="tooltip" data-placement="left" title="Set Availability"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>*@

                                                @*<a href="/Admin/Doctor/DoctorMembership/@Model.RecentlyDoctors[i].MemberId" data-toggle="tooltip" data-placement="left" title="Membership"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>*@
                                            </td>

                                        </tr>
                                                    count = count + 1;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Approved Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
    {
        <div class="tab-pane active" id="Approved">
            <div class="container-fulid">
                <div class="row">
                    <div class="col-md-12 seven_layer">
                        <div class="table-responsive data">
                            <table id="mytable" class="table table-hover table-bordered">
                                <thead style="color:#fff;">
                                    <tr>
                                        <th class="top">Profile Pic</th>
                                        <th class="top">Doctor Name</th>
                                        <th class="top"> Organisation Name</th>
                                        <th class="top">Email</th>
                                        <th class="top">Last Updated</th>
                                        @if (ViewBag.message == true)
                                        {
                                            <th class="top">Assign Voucher</th>
                                        }
                                        else
                                        {

                                        }
                                        <th class="top">Status</th>
                                        <th class="top"><input type="checkbox" id="checkall" /><span style="margin-left:3px;">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int count1 = 1;}
                                    @for (int i = 0; i < Model.ActivateDoctors.Count; i++)
                                    {
                                        <tr class="info">

                                            <td><img class="img-circle img-responsive" style="width:40px; height:40px;margin:0px auto;" src="@Model.ActivateDoctors[i].ProfilePic" /></td>
                                            <td class="capitalize_first_letter">@Model.ActivateDoctors[i].FullName</td>
                                            <td class="capitalize_first_letter">@Model.ActivateDoctors[i].organizationName</td>
                                            <td>@Model.ActivateDoctors[i].Email</td>
                                            <td>@Model.ActivateDoctors[i].TimeZoneDisplayName<br />@Model.ActivateDoctors[i].LastUpdateDateInString</td>

                                            @*<td><a href="/Admin/Doctor/MyPatient/@Model.ActivateDoctors[i].MemberId"><img src="~/images/newwwwwww.png" height="25" width="25" /></a></td>*@
                                            @if (Model.ActivateDoctors[i].VoucherId > 0)
                                            {
                                                <td id="@Model.ActivateDoctors[i].MemberId">
                                                    <input type="hidden" id="@("hdnVoucherIdInList" + Model.ActivateDoctors[i].VoucherId)" />
                                                    <a href="#"><img id="@("img" + Model.ActivateDoctors[i].LoginId)" class="timeid" src="~/images/130-1.png" height="25" width="25" data-id="@count1" data-dismiss="@Model.ActivateDoctors[i].VoucherId" /></a>


                                                    @Html.DropDownList("ValidityMonth" + count1.ToString(), new List<SelectListItem>
                                        { new SelectListItem { Text = "1 Month", Value = "1"},
                                            new SelectListItem { Text = "3 Month", Value = "3"},
                                          new SelectListItem { Text = "6 Month", Value = "6"},
                                          new SelectListItem { Text = "9 Month", Value = "9"},
                                          new SelectListItem { Text = "12 Month", Value = "12"}
                                          }, "Select Month")

                                                </td>
                                            }
                                            <td>

                                                <div class="btn-group btn-toggle">
                                                    @if (Model.ActivateDoctors[i].IsActive)
                                                    {
                                                        <button class="btn btn-xs btn-primary" id="on">ON</button>
                                                        <button class="btn btn-xs btn-default ">OFF</button>

                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-xs btn-default">ON</button>
                                                        <button class="btn btn-xs btn-danger" id="off">OFF</button>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <ul class="list-inline" style="position:relative;top:10px;">
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Active/Inactive Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li>
                                                            <input type="checkbox" class="checkthis" name="UserApproval" style="width: 24px; height: 23px; box-shadow: none !important;" data-role=@Model.ActivateDoctors[i].IsActive value=@Model.ActivateDoctors[i].MemberId />
                                                        </li>
                                                    }
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Edit Doctors", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/Organizations/Doctor/Add/@Model.ActivateDoctors[i].MemberId"><button class="btn btn-primary btn-xs edit"><span class="glyphicon glyphicon-pencil"></span></button></a></p></li>
                                                    }
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Doctor Details", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><p data-placement="top" data-toggle="tooltip" title="Details"><a href="/Organizations/Doctor/DoctorDetail/@Model.ActivateDoctors[i].MemberId"><button class="btn btn-info btn-xs edit"><span class="glyphicon glyphicon-info-sign"></span></button></a></p></li>
                                                    }
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Set Availability", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><p data-placement="top" data-toggle="tooltip" title="Set Availability"><a href="/Organizations/DoctorAvailability/index/@Model.ActivateDoctors[i].MemberId"><button class="btn btn-info btn-xs edit"><span class="glyphicon glyphicon-time"></span></button></a></p></li>
                                                    }
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("Add Membership", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><p data-placement="top" data-toggle="tooltip" title="Membership"><a href="/Organizations/Doctor/DoctorMembership/@Model.ActivateDoctors[i].LoginId"><button class="btn btn-info btn-xs edit"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></button></a></p></li>
                                                    }
                                                    @if (MyOnlineClinic.Web.Helper.PermissionHelper.CheckPermission("View Doctor Patients List", (int)MyOnlineClinic.Entity.ModuleNames.ManageDoctors, usermodel.LoginId))
                                                    {
                                                        <li><p data-placement="top" data-toggle="tooltip" title="Patients List"><a href="/Organizations/Doctor/MyPatient/@Model.ActivateDoctors[i].MemberId"><button class="btn btn-info btn-xs edit"><span class="glyphicon glyphicon-user"></span></button></a></p></li>
                                                    }
                                                </ul>

                                            </td>

                                        </tr>
                                                    count1 = count1 + 1;


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <br />
            </div>
        </div>
    }
</div>
@using (Html.BeginForm("Delete", "Doctor", FormMethod.Post))
{
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        <label id="lblTitle">Inactive Doctor</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="CreateEditForm">
                        <label>Are you sure to Inactive this Doctor</label>
                        <input type="text" name="serviceIds" id="serviceIds" style="display: none" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

@using (Html.BeginForm("Acitvate", "Doctor", FormMethod.Post))
{
    <div class="modal fade" id="ActivateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        <label id="lblTitle">Activate Doctor </label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="CreateEditForm">
                        <label>Are you sure to activate this Doctor</label>
                        <input type="text" name="ActivateIds" id="ActivateIds" style="display: none" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

<div class="modal fade" id="Vouchermodel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <label id="lblTitle">Assign Voucher</label>
                </h4>
            </div>
            <div class="modal-body">
                <div id="CreateEditForm">
                    <label>Are you sure you want to assign this voucher?</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a href="javascript:;" class="btn btn-primary assign">Yes</a>
                    <input type="hidden" id="hdnMemberId" />
                    <input type="hidden" id="hdnMonth" />
                    <input type="hidden" id="hdnVoucherId" />
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.mod-al-dialog -->
</div>
<script src="~/AdminAssets/js/datatables/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        @*if ('@ViewBag.message' = true) {
            $("#msg").append("<div class='alert alert-danger'><p>" + '@ViewBag.ErrorMessage' + "</p></div>").delaye(5000).fade();
        }*@
        $(".timeid").removeAttr("onclick");

        var oTable = $('#example').dataTable({
            "bProcessing": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "bSort": false,
            "sPaginationType": "full_numbers",
            "order": [[4, "desc"]]
        });
        //$('#AvailTime').hide();
        $('[data-toggle="tooltip"]').tooltip();


        $("#btnNew").click(function () {
            window.location.href = "/Organizations/Doctor/add";
        });
        DisableButton();
        var favorite = [];
        $("#selecctall").click(function (event) {  //on click
            if (this.checked) {
                $("input[name='UserApproval']").each(function () { //loop through each checkbox
                    if (this.checked !== true) {
                        this.checked = true;  //select all checkboxes with class "checkbox1"
                        favorite.push($(this).val());
                    }
                });
            } else {
                $("input[name='UserApproval']").each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                    favorite.pop($(this).val());
                });
            }
            $("#serviceIds").val(favorite);
            $("#ActivateIds").val(favorite);
            DisableButton();
        });

         $(document).on('click', "input[name='UserApproval']", function (event) {

            var id = $(this).attr('data-role');
            favorite.push($(this).val());
            if (this.checked == true && id == 'True') {
                $("#serviceIds").val(favorite);
            }
            else if (this.checked == true && id == 'False') {
                //favorite.pop();
                $("#ActivateIds").val(favorite);
            }
            else if (this.checked == false) {
                favorite.pop($(this).val());
                $("#ActivateIds").val('');
                $("#serviceIds").val('');
            }
            DisableButton();
        });

        $("#btnDelete").click(function () {
            var options = {
                "backdrop": "static"
            };
            $('#basicModal').modal(options);
        });
        $("#btnActivate").click(function () {
            var options = {
                "backdrop": "static"
            };
            $('#ActivateModal').modal(options);
        });
        $(".searchclass").click(function () {
            var searchForm = document.getElementById('searchForm');
            searchForm.submit();
        });
        $(".timeid").click(function () {

            var imgId = this.id;
            var attrValue = $('#' + imgId).attr('data-id');
            var attrNext = $('#' + imgId).attr('data-dismiss');
            var ddlId = 'ValidityMonth' + attrValue;
            var voucherId = attrNext;

            var monthValue = $('#' + ddlId).val();

            if (monthValue == '' || monthValue == '0') {
                alert('Please select month');
                $('#' + ddlId).focus();
                return;
            }

            var hdnMemberId = document.getElementById('hdnMemberId');
            hdnMemberId.value = imgId.replace('img', '');

            var hdnMonth = document.getElementById('hdnMonth');
            hdnMonth.value = monthValue;

            var hdnVoucherId = document.getElementById('hdnVoucherId');
            hdnVoucherId.value = voucherId;
            var options = {
                "backdrop": "static"
            };
            $('#Vouchermodel').modal(options);
        });
        $("#btnBack").on("click", function () {
            window.history.back();
        });

        //$('#ValidityMonth').change(function () {
        //    var MonthId = $('#ValidityMonth').val();
        //});
        $(".assign").click(function () {

            var hdnMemberId = document.getElementById('hdnMemberId');
            var hdnMonth = document.getElementById('hdnMonth');
            var hdnVoucherId = document.getElementById('hdnVoucherId');
            $.ajax({
                type: "POST",
                url: '/admin/Voucher/DoctorVoucher',
                data: ({ id: hdnMemberId.value, Month: hdnMonth.value, VoucherID: hdnVoucherId.value }),
                dataType: "Json",
                success: function (data) {
                    $("#Vouchermodel").hide();
                    alert("Successfully Assigned");
                    window.location = '/Admin/Doctor/DoctorList';
                },
                error: function () {
                    alert('Error occured');
                }
            });

        });
    });
    $("#timeid").on("click", function () {
        $('#AvailTime').show();
    });
    function DisableButton() {
        if ($("#serviceIds").val() == '') {
            $("#btnDelete").attr('disabled', 'disabled');
        }
        else {
            $("#btnDelete").removeAttr('disabled', 'disabled');
        }
        if ($("#ActivateIds").val() == '') {
            $("#btnActivate").attr('disabled', 'disabled');
        }
        else {
            $("#btnActivate").removeAttr('disabled', 'disabled');
        }
    }
</script>



