@using JQueryUIHelpers
@model MyOnlineClinic.Web.Models.ClinicUserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Organizations/Views/Shared/_OrganizationLayout.cshtml";
}
@using JQueryUIHelpers;
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
<script src="/scripts/jquery.plugin.js"></script>
<script src="/scripts/jquery.datepick.js"></script>
<link href="~/Scripts/jquery.datepick.css" rel="stylesheet" />
<script src="~/AdminAssets/js/validator/validator.js"></script>
<style>
    table.sub_table {
        padding: 9px 6px !important;
        margin-bottom: 0px;
        background-color: #f5f5f5;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        position: relative;
        left: -10%;
        margin: 7px;
        line-height: 25px;
        width: 230px;
    }

    input.main_checkbox {
        height: 20px !important;
        width: 17px !important;
        box-shadow: none !important;
        margin-left: 15px;
    }

    em.icon-fixed-width.fa.fa-plus {
        color: #fff;
        background: black;
        padding: 1px;
        border-radius: 50%;
    }

    em.icon-fixed-width.fa.fa-minus {
        color: #fff;
        background: black;
        padding: 6px;
        border-radius: 50%;
        position: relative;
    }

    span.add_staff {
        color: #fff;
        margin-left: 4px;
    }

    span.sub_name {
        margin-left: 5px;
    }

    table#permissions {
        line-height: 35px;
    }

    table > tbody > tr > td {
        vertical-align: top !important;
    }

    .col-md-4.col-xs-12.second.layer.six::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .col-md-4.col-xs-12.second.layer.six::-webkit-scrollbar {
        width: 8px;
        height: 6px;
        background-color: #F5F5F5;
    }

    .col-md-4.col-xs-12.second.layer.six::-webkit-scrollbar-thumb {
        background-color: rgba(8, 163, 155, 0.43);
    }

    .col-md-4.col-xs-12.second.layer.six {
        padding: 11px;
        margin-top: 19px;
        background: rgb(8, 163, 155);
        box-shadow: 2px 5px 5px #888888;
        float: right;
        margin-right: 35px;
        border-radius: 7px;
        height: 431px;
        overflow-x: hidden;
    }
</style>

<section class="content-header staff">
    <h1 class="underline7">
        Fill Clinic User Information
    </h1>
</section>
<div id="msg"></div>

@using (Html.BeginForm("Add", "ClinicUsers", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.ProfilePic)
    @Html.HiddenFor(x => x.OrgId)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-7 first_layer">
                <div class="form-horizontal" id="style-3">
                    <div class="box-body">

                        <div class="form-group role">
                            <label for="inputEmail3" class="col-sm-4 control-label">Clinic:</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(model => model.ClinicId, new SelectList(Model.ClinicsList, "ClinicId", "ClinicName"), "Select Clinic", new { @class = "form-control", @id = "ClinicId" })
                            </div>
                        </div>
                        <div class="form-group role">
                            <label for="inputEmail3" class="col-sm-4 control-label">Role:</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(model => model.OrgUsreRole, new SelectList(Model.UserRoleList, "Id", "RoleName"), "Select Role", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Title:</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Titleid, new SelectList(Model.TitleList, "TitleId", "TitleName"), "---Select Title---", new { @class = "form-control col-md-7 col-xs-12", required = "required" })

                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">First Name:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control col-md-7 col-xs-12", name = "FirstName", placeholder = "First name", required = "required" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Middle Name:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control col-md-7 col-xs-12", name = "MiddleName", placeholder = "Middle name" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Last Name:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.SurName, new { @class = "form-control col-md-7 col-xs-12", name = "LastName", placeholder = "Last name", required = "required" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Email:-</label>
                            <div class="col-sm-6">
                                @{
                            if (Model.ClinicId > 0)
                            {
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-md-7 col-xs-12", name = "Email", placeholder = "Email", required = "required", @readonly = "readonly" })


                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-md-7 col-xs-12", name = "Email", placeholder = "Email", required = "required" })

                            }
                                }
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Phone Number:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control col-md-7 col-xs-12", name = "PhoneNumber", placeholder = " Phone Number", required = "required", onkeypress = "return isNumber(event)" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Fax Number:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FaxNumber, new { @class = "form-control col-md-7 col-xs-12", name = "FaxNumber", placeholder = "FaxNumber", required = "required", onkeypress = "return isNumber(event)" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Address 1:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Address1, new { @class = "form-control col-md-7 col-xs-12", name = "Address1", placeholder = " Address1", required = "required" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Address 2:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Address2, new { @class = "form-control col-md-7 col-xs-12", name = "Address2", placeholder = "Address2", required = "required" })
                            </div>
                        </div>

                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Country:</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.CountryId, new SelectList(Model.Countries, "CountryId", "CountryName"), "--Select Country--", new { @class = "form-control col-md-7 col-xs-12", required = "required" },
                        Ajax.UpdateActionFor(
                         model => model.State,
                            new AjaxUpdateOptions
                            {
                                DisableTargetWhenEmpty = true,
                                Url = Url.Action("GetStateInCountry", "Home", new { @area = "" })
                            }
                            ))
                                @Html.ValidationMessageFor(m => m.CountryId)
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">State:</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.State, new SelectList(Model.States, "Id", "StateName"), "--Select State--", new { @class = "form-control", @id = "State" },
                                            Ajax.UpdateActionFor(
                                             model => model.City,
                                                new AjaxUpdateOptions
                                                {
                                                    DisableTargetWhenEmpty = true,
                                                    Url = Url.Action("GetCityInState", "Home", new { @area = "" })
                                                }
                            ))
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">City:</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.City, new SelectList(Model.Cities, "LookUpCityId", "LookUpCityName"), "---Select City---", new { @class = "form-control col-md-7 col-xs-12", @id = "City", required = "required" })
                            </div>
                        </div>

                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Post Code:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control col-md-7 col-xs-12", name = "PostCode", placeholder = "PostCode", required = "required" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Date of Birth:</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.DOB, new { @class = "date-picker form-control col-md-7 col-xs-12", name = "DOB", placeholder = "Enter date of birth", required = "required" })
                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Time Zone:</label>
                            <div class="col-sm-6">
                                @{ if (Model.UserId > 0)
                                             {
                                @Html.DropDownListFor(x => x.TimeZoneId, ViewBag.TimeZones as IEnumerable<SelectListItem>, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "TimeZoneId", required = "required" })
                                             }
                                             else
                                             {
                                @Html.DropDownListFor(x => x.TimeZoneId, ViewBag.TimeZones as IEnumerable<SelectListItem>, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "TimeZoneId" })
                                             }
                                }

                            </div>
                        </div>
                        <div class="form-group role" style="margin-top:-3px;">
                            <label for="inputEmail3" class="col-sm-4 control-label">Profile Picture:</label>
                            <div class="col-sm-6" style="margin-top: 9px; margin-left: 8px;">
                                <img src="@Model.ProfilePic" id="imgProfilePic" height="25" width="25" />
                                <input type="file" name="ProfilePic" id="ProfilePic" onchange="ShowPreview(this)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="button" class="btn btn-primary" onclick="window.history.back()">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 second layer six" style="height: 355px;">
                <table id="permissions" class="menu_permission">
                    <tbody>
                        @for (var i = 0; i < Model.ModuleList.Count(); i++)
                        {
                            <tr>
                                <td id="mainrow_@i" valign="top">
                                    <a id="imgplus_@i" style="vertical-align:top;"><em class="icon-fixed-width fa fa-plus"></em></a>
                                    <a id="imgmin_@i" style="display: none; vertical-align: top;"><em class="icon-fixed-width fa fa-minus"></em></a>
                                </td>
                                <td style="vertical-align: top">
                                    @Html.CheckBoxFor(m => Model.ModuleList[i].Selected, new { @class = "main_checkbox", onclick = "checkInnerControl(this);", id = "chk_" + @i, style = "position: relative;" })
                                </td>
                                <td style="vertical-align: top">
                                    <span class="add_staff">
                                        @Model.ModuleList[i].Name
                                    </span>
                                    @Html.HiddenFor(x => Model.ModuleList[i].Id)
                                    @Html.HiddenFor(x => Model.ModuleList[i].Name)

                                    <table id="innerrow_@i" class="sub_table" style="display:none;">
                                        <tbody>
                                            @for (var j = 0; j < Model.ModuleList[i].SubModuleList.Count(); j++)
                                            {
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        @Html.CheckBoxFor(m => Model.ModuleList[i].SubModuleList[j].Selected, new { onclick = "checkParentControl(this);", style = "box-shadow: none !important;" })
                                                        <span class="sub_name">
                                                            @Model.ModuleList[i].SubModuleList[j].Name
                                                        </span>
                                                        @Html.HiddenFor(x => Model.ModuleList[i].SubModuleList[j].Id)
                                                        @Html.HiddenFor(x => Model.ModuleList[i].SubModuleList[j].Name)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="basicModalHome" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog ">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <label id="lblTitle">Clinic Users</label>
                </h4>
            </div>
            <div class="modal-body">
                <div id="CreateEditForm">
                    <label>Clinic Users Successfully Update...!!!!</label>
                    <input type="text" name="serviceIds" id="serviceIds" style="display: none" />
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary" onclick="reload1();">Ok</button>
                </div>
            </div>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@if (ViewBag.Message != null)
{
    <script>

        $(document).ready(function () {

            var options = {
                "backdrop": "static"
            };

            $('#basicModalHome').modal(options);
        });

    </script>

}
<script>
    function reload1() {
        location.reload();
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    function ShowPreview(input) {
        if (input.files && input.files[0]) {
            var ImageDir = new FileReader();
            ImageDir.onload = function (e) {
                $('#imgProfilePic').attr('src', e.target.result);
            }
            ImageDir.readAsDataURL(input.files[0]);
        }
    }
</script>



