@model MyOnlineClinic.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "RegisterPatientByAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using JQueryUIHelpers;
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>
        @using (Html.BeginForm("RegisterPatientByAdmin", "DashBoard", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.MemberId)
            @Html.HiddenFor(m => m.ProfilePic)
            @Html.HiddenFor(m => m.LoginId)
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-12 col-xs-12">
                        <div class="prople">
                            <h2>Add Patient</h2>
                        </div>
                        <div class="x_content">
                            <br />
                            @*<div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        @Html.DropDownListFor(x => x.OrgId, new SelectList(Model.Organizations, "OrganizationId", "OrganizationName"), "---Select Organization---", new { @class = "form-control col-md-7 col-xs-12", required = "required" })
                                    </div>
                                </div>*@

                            <div class=" col-sm-4 col-xs-12">
                                @Html.DropDownListFor(x => x.TitleId, new SelectList(Model.TitleList, "TitleId", "TitleName"), "---Select Title---", new { @class = "form-control col-md-7 col-xs-12 text_row", required = "required" })
                            </div>


                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "FirstName", placeholder = "Enter First Name", required = "required" })
                            </div>


                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.SurName, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "LastName", placeholder = "last name", required = "required" })
                            </div>


                            <div class=" col-sm-4 col-xs-12">
                                @Html.JQueryUI().DatepickerFor(x => x.DOB, new { @class = "date-picker form-control col-md-7 col-xs-12 text_row", name = "DOB", placeholder = "Enter date of birth", required = "required" }).DateFormat("dd/MM/yyyy")
                            </div>


                            <div class=" col-sm-4 col-xs-12">
                                @Html.DropDownListFor(x => x.GenderId, new SelectList(Model.GenderList, "GenderId", "GenderName"), "---Select Gender---", new { @class = "form-control col-md-7 col-xs-12 text_row", required = "required" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "HomePhone", placeholder = "Home Phone", required = "required" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "PhoneNumber", placeholder = " Phone Number", required = "required" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.FaxNumber, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Fax Number", placeholder = "Fax Number", required = "required" })
                            </div>
                            <div class=" col-sm-4 col-xs-12">
                                @Html.DropDownListFor(x => x.TimeZoneId, ViewBag.TimeZone as IEnumerable<SelectListItem>, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "TimeZoneId", required = "required" })
                            </div>
                            <div class=" col-sm-4 col-xs-12">
                                @Html.DropDownListFor(model => model.OrgId, new SelectList(Model.OrganizationList, "OrganizationId", "OrganizationName"), "Select organization", new { @class = "form-control", required = "required" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Email", placeholder = "Email", required = "required" })
                        
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.Address1, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Address1", placeholder = " Address1", required = "required" })
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.Address2, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Address2", placeholder = "Address2", required = "required" })
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @*@Html.DropDownListFor(x => x.CountryId, new SelectList(Model.CountryList, "CountryId", "CountryName"), "---Select Country---", new { @class = "form-control col-md-7 col-xs-12 text_row", required = "required" })*@
                                @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.CountryList, "CountryId", "CountryName"), "--Select Country--",
         new { @class = "form-control", required = "required" },
                        Ajax.UpdateActionFor(
                         model => model.State,
                            new AjaxUpdateOptions
                            {
                                DisableTargetWhenEmpty = true,
                                Url = Url.Action("GetStateInCountry", "Home", new { @area = "" })
                            }
                            ))
                                @Html.ValidationMessageFor(m => m.CountryId)
                            </div>
                            <div class="col-sm-4 col-xs-12 ">

                                @*@Html.DropDownListFor(x => x.State, new SelectList(Model.StateList, "Id", "StateName"), "---Select State---", new { @class = "form-control col-md-7 col-xs-12 text_row", required = "required" })*@
                                @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Id", "StateName"), "--Select State--",
         new { @class = "form-control", required = "required" },
                        Ajax.UpdateActionFor(
                         model => model.City,
                            new AjaxUpdateOptions
                            {
                                DisableTargetWhenEmpty = true,
                                Url = Url.Action("GetCityInState", "Home", new { @area = "" })
                            }
                            ))
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.DropDownListFor(x => x.City, new SelectList(Model.CityList, "LookUpCityId", "LookUpCityName"), "---Select City---", new { @class = "form-control col-md-7 col-xs-12 text_row" , required = "required"})
                                @*@Html.DropDownListFor(x => x.City, new SelectList(""), "---Select City---", new { @class = "form-control col-md-7 col-xs-12 text_row", required = "required" })*@
                                @*@Html.DropDownListFor(model => model.City, new SelectList(Model.CityList, "LookUpCityId", "LookUpCityName"), "--Select City--",
                        new { @class = "form-control" },
                        Ajax.UpdateActionFor(
                         model => model.City,
                            new AjaxUpdateOptions
                            {
                                DisableTargetWhenEmpty = true,
                                Url = Url.Action("GetCityInState", "Home", new { @area = "" })
                            }
                            ))*@
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Post Code", placeholder = "Post Code", required = "required" })
                            </div>

                            <div class="col-md-1 col-sm-3 col-xs-12">
                                <img src="@Model.ProfilePic" height="25" width="25" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                Profile Pic

                                <input type="file" name="ProfilePic" id="ProfilePic" />
                            </div>

                        </div>
                        <div class="prople">
                            <h2>For Austrailia People Only</h2>
                        </div>
                        <div class="x_content">
                            <br />
                            @*<div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        @Html.DropDownListFor(x => x.OrgId, new SelectList(Model.Organizations, "OrganizationId", "OrganizationName"), "---Select Organization---", new { @class = "form-control col-md-7 col-xs-12", required = "required" })
                                    </div>
                                </div>*@

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.MedicareNumber, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Medicare Number", placeholder = "Enter Medicare Number" })
                            </div>
                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.PrivateFundMembershipNo, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Private Fund Membership No", placeholder = "Private Fund Membership No" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.MedicareRefNumber, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Medicare Refernce Number", placeholder = "Medicare Refernce Number", required = "required" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.JQueryUI().DatepickerFor(x => x.MedicareExpire, new { @class = "date-picker form-control col-md-7 col-xs-12 text_row", name = "Medicare Expire", placeholder = "Enter Medicare Expire Date" }).DateFormat("dd/MM/yyyy")

                            </div>


                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.DavNumber, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Dav Number", placeholder = "Dav Number" })
                            </div>
                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.DavCardColor, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Dav Card Color", placeholder = "Dav Card Color" })
                            </div>
                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.DavDisablities, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Dav Disablities", placeholder = "Dav Disablities" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.PrivateFund, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Private Fund", placeholder = "Private Fund" })
                            </div>


                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.HCCPensionNo, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "HCC Pension No", placeholder = "HCC Pension No" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.HCCPensionNoExpiry, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "HCC PensionNo Expiry", placeholder = "HCC Pension No Expiry" })
                            </div>
                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.UsualGPClinicName, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Usual GP Clinic Name", placeholder = "Usual GP Clinic Name" })
                            </div>
                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.UsualGPName, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Usual GP Name", placeholder = " Usual GP Name" })
                            </div>

                            <div class=" col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.UsualGPAddress, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Address1", placeholder = "Address1" })
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.GPAddress2, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Address2", placeholder = "Address2" })
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.DropDownListFor(x => x.UsualGpCountry, new SelectList(Model.CountryList, "CountryId", "CountryName"), "---Select Country---", new { @class = "form-control col-md-7 col-xs-12 text_row" })
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.DropDownListFor(x => x.UsualGpCity, new SelectList(Model.CityList, "LookUpCityId", "LookUpCityName"), "---Select City---", new { @class = "form-control col-md-7 col-xs-12 text_row" })
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.UsualGpState, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Usual Gp State", placeholder = "Usual Gp State" })
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                @Html.TextBoxFor(x => x.UsualGpPostCode, new { @class = "form-control col-md-7 col-xs-12 text_row", name = "Post Code", placeholder = "Post Code" })
                            </div>




                            <div class="col-sm-4 col-xs-12">
                                @* @Html.DropDownListFor(x => x.TimeZoneId, new SelectList(new List<SelectListItem>()), new { @class = "form-control col-md-7 col-xs-12", name = "PostCode", placeholder = " Enter Postcode" })*@
                            </div>




                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        }
    </div>
</div>
<script src="/AdminAssets/js/validator/validator.js"></script>
<script>

    jQuery(document).ready(function () {


        jQuery('.date-picker').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            format: 'DD/MM/YYYY'
        })
    });
  

    $('#btnCancel').click(function () {
        window.location = "/admin/Organization/index";
    })

    $(document).ready(function () {

        if ($("#NewsId").val() > 0) {

            $('#btnAddNewPhoto').removeAttr('disabled', 'disabled');

            $("#ImagePanel").show();
            $('#btnAddNewPhoto').click(function () {
                window.location.href = "/admin/newsphotos/AddNewsPhotos/" + $("#NewsId").val();
            });
        }
        else {
            $("#ImagePanel").hide();
            $("#btnAddNewPhoto").attr('disabled', 'disabled');
        }
        $('.date-picker').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            format: 'DD/MM/YYYY'
        });
        $('#Showcase').change(function () {
            if ($(this).is(":checked")) {
                if ($("#NewsId").val() == '') {
                    $("#show-case-msg").append("<div class='alert alert-danger'>Please upload image before marking showcase.</div>");
                    window.setTimeout(function () {
                        $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                }
                else {
                    $.ajax({
                        type: 'get',
                        url: '/admin/news/CheckShowCaseImages',
                        data: 'newsId=' + $("#NewsId").val(),
                        success: function (data) {
                            if (data == "NotExists") {
                                $("#show-case-msg").append("<div class='alert alert-danger'>Please upload image before marking showcase.</div>");
                                window.setTimeout(function () {
                                    $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                                        $(this).remove();
                                        $('#Showcase').attr('checked', false);
                                    });
                                }, 5000);
                            }
                        }
                    });

                }
            }

        });


        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required')
            .on('keyup blur', 'input', function () {
                validator.checkField.apply($(this).siblings().last()[0]);
            });

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('form').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });

        /* FOR DEMO ONLY */
        $('#vfields').change(function () {
            $('form').toggleClass('mode2');
        }).prop('checked', false);

        $('#alerts').change(function () {
            validator.defaults.alerts = (this.checked) ? false : true;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false)
    });
  

    //$("#CountryId").change(function () {
    //    $("#State").empty();
    //    $("#State").append($("<option></option>").val(0).html('Select State'));
    //    $.ajax({

    //        type: 'GET',
    //        url: '/Admin/City/GetState',
    //        dataType: 'json',
    //        data: { id: $("#CountryId").val() },
    //        success: function (data) {

    //            $.each(data, function (key, value) {
    //                $("#State").append($("<option></option>").val(value.Id).html(value.StateName));

    //            });
    //        },
    //        error: function (ex) {

    //        }
    //    });
    //});
    //$("#State").change(function () {
    //    $("#City").empty();
    //    $("#City").append($("<option></option>").val(0).html('Select City'));
    //    $.ajax({

    //        type: 'GET',
    //        url: '/Admin/City/GetCity',
    //        dataType: 'json',
    //        data: { id: $("#State").val() },
    //        success: function (data) {
    //            $.each(data, function (key, value) {
    //                $("#City").append($("<option></option>").val(value.LookUpCityId).html(value.LookUpCityName));

    //            });
    //        },
    //        error: function (ex) {

    //        }
    //    });
    //});
    
</script>