
@Html.Partial("_BannerPartial")
@using JQueryUIHelpers;
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")




<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="topcat_area">
            <div class="col-sm-4">
                <div data-effect="slide-left">
                    <div class="text_cta">
                        <h2>Health And Medical</h2>
                        <div class="text_cta">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.


                            <div class="cta_textbtn">
                                <a class="ancorbtn" href=""> VIEW OUR SERVICES </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="text_cta">
                    <div class="servicecta_area">
                        <span class="servicecta_icon"><i class="fa fa-plus-square"></i></span>
                        <span class="servicecta_text">
                            <h3>Online Prescription Management</h3>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                            <div class="clearfix"></div>
                        </span>


                    </div>

                    <div class="servicecta_area servicecta_arealast">
                        <span class="servicecta_icon"><i class="fa fa-medkit"></i></span>
                        <span class="servicecta_text">
                            <h3>BT Medical Devices</h3>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                            <div class="clearfix"></div>
                        </span>


                    </div>

                </div>


            </div>

            <div class="col-sm-4">
                <div data-effect="slide-right">
                    <div class="text_cta">
                        <div class="servicecta_area">
                            <span class="servicecta_icon"><i class="fa fa-user-md"></i></span>
                            <span class="servicecta_text">
                                <h3>Online Pathology and Radiology</h3>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                                <div class="clearfix"></div>
                            </span>


                        </div>

                        <div class="servicecta_area servicecta_arealast">
                            <span class="servicecta_icon"><i class="fa fa-ambulance"></i></span>
                            <span class="servicecta_text">
                                <h3>24/7 Practice Offline</h3>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                                <div class="clearfix"></div>
                            </span>


                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<div class="doctor_meetarea">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="body_heading">
                    <h2> <span>Meet our Medical</span> Experts</h2>
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                </div>

            </div>
        </div>

        <div class="row">
            <div class="doctor_meetctaarea">
                <div id="owl-demo" class="owl-carousel">

                    <div class="item">
                        <div class="col-sm-12">
                            <div class="doctor_meetcta">
                                <div class="doctor_img">
                                    <img src="/images/doctor1.jpg" alt="img">
                                </div>
                                <div class="doctor_namearea">
                                    <h4>Dr. Chris Christi</h4>
                                    Dermatologist
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-12">
                            <div class="doctor_meetcta">
                                <div class="doctor_img">
                                    <img src="/images/doctor1.jpg" alt="img">
                                </div>
                                <div class="doctor_namearea">
                                    <h4>Dr. John Smith</h4>
                                    Gynaecologist
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-12">
                            <div class="doctor_meetcta">
                                <div class="doctor_img">
                                    <img src="/images/doctor1.jpg" alt="img">
                                </div>
                                <div class="doctor_namearea">
                                    <h4>Dr. Robert</h4>
                                    Cardiologist
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-12">
                            <div class="doctor_meetcta">
                                <div class="doctor_img">
                                    <img src="/images/doctor1.jpg" alt="img">
                                </div>
                                <div class="doctor_namearea">
                                    <h4>Dr. James</h4>
                                    Neurologist
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-12">
                            <div class="doctor_meetcta">
                                <div class="doctor_img">
                                    <img src="/images/doctor1.jpg" alt="img">
                                </div>
                                <div class="doctor_namearea">
                                    <h4>Dr. Mike</h4>
                                    Dermatologist
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<section class="fill btimg" id="btdivces">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title_heading">BT Medical devices </h2>
            </div>
        </div>
        <!-- BT Medical devices -->
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="left-box">
                    <div class="row">
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/ecg.jpg">
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p>Electrocardiograph<br><span>(ECG)</span></p>

                                <div class="button_more">
                                    <a href="/Home/EquipmentEnquiry" class="more_btn" data-original-title="" title="">More Detail</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div id="fl1" class="lightbox text-center">
                            <img src="images/ecg.jpg">
                            <h2>Electrocardiograph <br><span>(ECG)</span></h2>
                            <p>
                                An instrument for measuring heart electrical activity
                            </p>
                            <div class="button_more pull-right">
                                <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                            </div>
                        </div>*@
                </div>
                <div class="left-box">
                    <div class="row">
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/glucometer.jpg">
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p> Glucometer <br><span>(Blood Sugar)</span></p>
                                <div class="button_more">
                                    <a class="more_btn" href="/Home/EquipmentEnquiry" data-original-title="" title="">More Detail</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="fl2" class="lightbox text-center">
                        <img src="/images/glucometer.jpg">
                        <h2>Glucometer <br><span>(Blood Sugar)</span></h2>
                        <p>
                            A portable monitor that measures blood glucose levels
                        </p>
                        <div class="button_more pull-right">
                            <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                        </div>
                    </div>
                </div>
                <div class="left-box">
                    <div class="row">
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/stethoscope.jpg">
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p> Stethoscope <br><span>(Heart &amp; Lung Sounds)</span></p>
                                <div class="button_more">
                                    <a class="more_btn" href="/Home/EquipmentEnquiry" data-original-title="" title="">More Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fl3" class="lightbox text-center">
                        <img src="/images/stethoscope.jpg">
                        <h2>Stethoscope <br><span>(Heart &amp; Lung Sounds)</span></h2>
                        <p>
                            An instrument for listening to the sounds made within the body such as Heart, lung and abdomen sounds
                        </p>
                        <div class="button_more pull-right">
                            <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                        </div>
                    </div>
                </div>
                <div class="left-box">
                    <div class="row">
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/thermometer.jpg">
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p> Thermometer <br><span>(Body Temperature)</span></p>
                                <div class="button_more">
                                    <a class="more_btn" href="/Home/EquipmentEnquiry" data-original-title="" title="">More Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fl4" class="lightbox text-center">
                        <img src="/images/thermometer.jpg">
                        <h2>Thermometer<br><span>(Body Temperature)</span></h2>
                        <p>
                            This is a default featherlight lightbox.<br>
                            It's flexible in height and width.<br>
                            Everything that is used to display and
                        </p>
                        <div class="button_more pull-right">
                            <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12">
                <div class="center-box text-center">
                    <img src="/images/product_img-circle.png">
                </div>
            </div>

            <div class="col-sm-4 col-xs-12">
                <div class="right-box text-right">
                    <div class="row">
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p> Oximeter<br><span>(Blood Oxygen)</span></p>
                                <div class="button_more">
                                    <a class="more_btn" href="/Home/EquipmentEnquiry" data-original-title="" title="">More Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/Oximeter.jpg">
                            </div>
                        </div>
                    </div>
                    <div id="fl5" class="lightbox text-center">
                        <img src="/images/Oximeter.jpg">
                        <h2>Oximeter<br> <span>(Blood Oxygen)</span></h2>
                        <p>
                            An instrument for measuring the oxygen saturation of arterial blood
                        </p>
                        <div class="button_more pull-right">
                            <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                        </div>
                    </div>
                </div>
                <div class="right-box text-right">
                    <div class="row">
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p>Otoscope <br><span>(ENT)</span></p>
                                <div class="button_more">
                                    <a class="more_btn" href="/Home/EquipmentEnquiry" data-original-title="" title="">More Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/Otoscope.jpg">
                            </div>
                        </div>
                    </div>
                    <div id="fl6" class="lightbox text-center">
                        <img src="/images/Otoscope.jpg">
                        <h2>Otoscope  <br><span>(ENT)</span></h2>
                        <p>
                            An instrument for examining the interior of the ear, especially the eardrum and ear canal
                        </p>
                        <div class="button_more pull-right">
                            <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                        </div>
                    </div>
                </div>
                <div class="right-box text-right">
                    <div class="row">
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p> Weight scale  <br><span>(Weight)</span> </p>
                                <div class="button_more">
                                    <a class="more_btn" href="/Home/EquipmentEnquiry" data-original-title="" title="">More Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/Weight-scale.jpg">
                            </div>
                        </div>
                    </div>
                    <div id="fl7" class="lightbox text-center">
                        <img src="/images/Weight-scale.jpg">
                        <h2>Weight scale <br><span>(Weight)</span></h2>
                        <p>
                            An instrument for measuring weight
                        </p>
                        <div class="button_more pull-right">
                            <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                        </div>
                    </div>
                </div>
                <div class="right-box text-right">
                    <div class="row">
                        <div class="col-sm-7 col-xs-6">
                            <div class="products-text">
                                <p>Sphygmomanometer  <br><span>(Blood Pressure)</span> </p>
                                <div class="button_more">
                                    <a class="more_btn" href="/Home/EquipmentEnquiry" data-original-title="" title="">More Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-6">
                            <div class="products-img">
                                <img class="" src="/images/bloodpressure-scale.jpg">
                            </div>
                        </div>
                    </div>
                    <div id="fl8" class="lightbox text-center">
                        <img src="/images/bloodpressure-scale.jpg">
                        <h2>Sphygmomanometer <br><span>(Blood Pressure)</span></h2>
                        <p>
                            An instrument for measuring blood pressure
                        </p>
                        <div class="button_more pull-right">
                            <a class="enquire_btn" target="black" href="https://myonlineclinic.com.au/patient/Equipment_Enquries.aspx" data-original-title="" title="">Enquire Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="container">
    <div class="home_registerarea" id="Register">
        <div class="row">
            <div class="col-sm-12">
                <div class="registration_heading">
                    <h2>Registration</h2>
                </div>
            </div>
        </div>

        

    </div>
</div>
<div class="clearfix"></div>
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="body_heading">
                    <h2>
                        @*<span>Lorem ipsum </span>*@
                        Testimonials
                    </h2>
                    What patients say About MyOnlineClinic
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">


                <div class="testimonial_slider">
                    <ul class="slides">
                        <li>
                            <div class="testimonial_inner">
                                <img class="img-circle" src="/images/testimonialclient.jpg" alt="img">
                                <div class="testimonial_content">
                                    "Two years ago I sought Dr. Robert’s help with multiple symptoms that could not be resolved through conventional approaches: fatigue, high cholesterol and triglyceride levels, and weight gain. I am delighted to say that Dr. Robert’s thorough testing and wholistic approach has brought me back to “myself”—I sleep well, enjoy a healthy weight and increased energy, and my blood levels are now within the optimal range!".

                                    <span class="username">Marina Forrest</span>


                                </div>


                            </div>
                        </li>

                        <li>
                            <div class="testimonial_inner">
                                <img class="img-circle" src="images/testimonialclient.jpg" alt="img">
                                <div class="testimonial_content">
                                    "Two years ago I sought Dr. Robert’s help with multiple symptoms that could not be resolved through conventional approaches: fatigue, high cholesterol and triglyceride levels, and weight gain. I am delighted to say that Dr. Robert’s thorough testing and wholistic approach has brought me back to “myself”—I sleep well, enjoy a healthy weight and increased energy, and my blood levels are now within the optimal range!".
                                    <span class="username">Marina Forrest</span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>



            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div data-effect="slide-left">
                    <div class="footer_col">
                        <h5>Address</h5>
                        <div class="footer_address">
                            <ul>
                                <li>
                                    <span class="address_icon"><i class="fa fa-map-marker"></i></span>
                                    <span class="address_text">
                                        1/21 Wellington Road, East Brisbane Qld 4169
                                        PO Box 1185 Coorparoo Qld 4151
                                    </span>
                                </li>

                                <li>
                                    <span class="address_icon"><i class="fa fa-phone-square"></i></span>
                                    <span class="address_text">
                                        1300 900 863
                                    </span>
                                </li>

                                <li>
                                    <span class="address_icon"><i class="fa fa-envelope"></i></span>
                                    <span class="address_text">
                                        <a href="mailto:info@myonlineclinic.com.au"> info@myonlineclinic.com.au </a>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="footer_col">
                    <h5>Contact us</h5>

                    @*<div class="footer_form">
                        <ul>
                            @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                            {
                                <li>@Html.TextBoxFor(x => x.ContactUserName, new { name = "Email", placeholder = "Enter Your Name", required = "required" })</li>
                                <li>@Html.TextBoxFor(x => x.ContactEmail, new { name = "Email", placeholder = "Enter Your Email", required = "required" })</li>
                                <li> @Html.TextAreaFor(x => x.ContactMessage, new { name = "Email", placeholder = "Enter Your Message", required = "required" }) </li>
                                <li><input type="submit" value="Submit"> </li>
                            }
                        </ul>

                    </div>*@


                </div>

            </div>

            <div class="col-sm-4">
                <div data-effect="slide-right">
                    <div class="footer_col">
                        <h5>App is no available</h5>

                        <div class="footer_logo">
                            <ul>
                                <li> <img src="/images/footerlogo1.png" alt="img"> </li>
                                <li> <img src="/images/footerlogo1.png" alt="img"> </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright">MyOnlineClinic <i class="fa fa-copyright"></i>Copyright 2015 </div>
            </div>
        </div>
    </div>

</div>
