@model MyOnlineClinic.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "/Areas/Organizations/Views/Shared/_OrganizationLayout.cshtml";
}

@using MyOnlineClinic.Web.Models;
@{
    var usermodel = ViewBag.LoginUserModel as LoginUserViewModel;
}
<!-- page content -->
<div class="container-fluid" style="margin-top: 45px;">
    <div class="row">

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.ClinicCount</h3>

                    <p>Total Clinics</p>
                </div>
                <div class="icon">
                    <i class="fa fa-plus-square"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.PatientCount</h3>

                    <p>Total Patients</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.DoctorCount</h3>

                    <p>Total Doctors</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-md"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.AppointmentCount</h3>

                    <p>Total Appointments</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</div>
<!-- /.row -->
<!-- Main row -->
<div class="clearfix"></div>
<div class="container-fulid" id="layer">
    <div class="row" id="layer1">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="/Organizations/Appointment/PendingAppointment">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-calendar-plus-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Appointments</span>

                    </div>
                    <!-- /.info-box-content -->
                </div>
            </a>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-usd"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Payments</span>

                    </div>
                    <!-- /.info-box-content -->
                </div>
            </a>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Tasks</span>

                    </div>
                    <!-- /.info-box-content -->
                </div>
            </a>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
    </div>
</div>


<!-- /.row -->
<!-- Main row -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Website Stats</h3>

                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong> 1 Apr, 2016 - 16 Apl, 2016</strong>
                        </p>

                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" style="height: 180px;"></canvas>
                        </div>
                        <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Website Stats</strong>
                        </p>

                        <div class="progress-group">
                            <div class="progress sm" style=" float:left; width:7%; height: 17px;
 margin-top: 4px;">
                                <div class="progress-bar progress-bar-aqua" style="width: 100%;background: #08A39B;"></div>
                            </div>
                        </div>
                        <span class="progress-number" id="text">Total Patients</span>
                    </div>
                    <div class="progress-group">
                        <div class="progress sm" style=" float:left; width:2%; height: 17px;
 margin-top: 4px; margin-left: 15px;">
                            <div class="progress-bar progress-bar-red" style="width: 100%; background: #008079;"></div>
                        </div>
                    </div>
                    <span class="progress-number" id="text">Total Clinics</span>
                </div>
            </div>
        </div>
    </div>
</div>
   


@*<div class="right_col" role="main">

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">
                            <div class="row">
                                @{var link = string.Empty;}
                                @foreach (var item in Model.ModuleList)
                                {
                                    link = item.Modules.ModuleName;
                                    link = link.Replace(" ", "").ToLower();
                                    switch (link)
                                    {
                                        case "managestaff":
                                            link = "/Organizations/OrganizationUsers";
                                            break;
                                        case "managepatients":
                                            link = "/Organizations/Patient/FindPatient";
                                            break;
                                        case "managedoctors":
                                            link = "/Organizations/Doctor/DoctorList";
                                            break;
                                        case "manageclinics":
                                            link = "/Organizations/Clinics";
                                            break;
                                        case "managedevices":
                                            link = "/Organizations/ManageDevice/Index";
                                            break;
                                    }
                                    <div class="col-sm-4">
                                        <a href="@link" class="@item.Modules.CssClass">
                                            <div class="admin_img_box">
                                                <img src="@item.Modules.ImageUrl">
                                            </div>
                                            <span>@item.Modules.ModuleName </span>
                                        </a>
                                    </div>
                                    link = "javascrpit:;";
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>*@